{% extends "main.html" %}

{% block obsah %}

<table width = 100%>

    <tr>

        <td width = 25% align="left" style="font-size:20px;">
            <div>Kontaktujte nás! <br><b>MVycvičte si vlastní kokos</b></div><br><br>

        </td>

        <td width = 25%>
        </td>


        <td width = 25%>
        </td>

        <td width = 25%>

        </td>
    </tr>

    <tr>
        <td>
            <h3>Kokos:<h3>
        </td>

        <td>
            <div>email: kokos@example.com</div>
        </td>
<br>
        <td>
            <h3>Kokosové mléko:</h3>
        </td>

        <td>
            <div>email: kokosové.mleko@example.com</div>
        </td>
    </tr>




</table>



{% endblock %}