{% extends "main.html" %}

{% block obsah %}




            <center>
                <table>

            <form action="" method="POST">



            <h3>Vytvořit tým</h3>
            <td>
            <input class="form-control" type="text" name="nazev" placeholder="Název týmu"  aria-label="default input example" ><br><br>
            <input class="btn btn-primary btn-lg" type="submit" value="Odeslat">
            </td>
            <br><br>
            <div style="color:red"> {{ chybova_zprava }} </div>
            <div style="color:green"> {{ uspech }} </div>
            </table>
            </center>

{% endblock %}