{% extends "main.html" %}

{% block obsah %}

{% if uspech %}

<h3 style="color:green" align="center"> {{ uspech }} </h3>

{% else %}

<table width=100%>
    <tr>

        <td width=33%></td>
        <td width=33% align="center">


            <form action="{{url_for("prihlaseni") }}" method="POST">


            <h3>Přihlaste se</h3>
            <input type="text" name="jmeno" placeholder="Jméno" value="{{ jmeno }}"><br><br>
            <input type="password" name="heslo" placeholder="Heslo"><br><br>
            <input type="submit" value="Odeslat"> <a href="{{ url_for("registrace") }}"><br><br>Ještě nejste zaregistrováni?
            <br><br>
            <div style="color:red"> {{ chybova_zprava }} </div>

           </form>
         </td>
         <td width=33%></td>
    </tr>
</table>

{% endif %}



{% endblock %}