{% extends "main.html" %}

{% block obsah %}

<table width = 100%>

    <tr>
        <td width = 25%>
            <img src='/static/kokos1.jpg' id="kokos1" width=60%>
        </td>

        <td width = 25%>
            <img src="/static/kokos2.jpg" id ="kokos2" width = 90%>
        </td>

        <td width = 25%>
            <img src='/static/kokos3.jpg' id="kokos3" width = 80%>
        </td>

        <td width = 25%>
            <img src="/static/kokos5.jpg" id ="kokos5" width = 60%>
        </td>
    </tr>

    <tr>
        <td>Kokos</h3>
        </td>

        <td>
            <h3>Kokos</h3>
        </td>

        <td>
            <h3>Kokos</h3>
        </td>

        <td>
            <h3>Kokos</h3>
        </td>
    </tr>




</table>



{% endblock %}