{% extends "main.html" %}

{% block obsah %}

{% if uspech %}

<h3 style="color:green" align="center"> {{ uspech }} </h3>

{% else %}

<table width=100% align="center">
    <tr>

        <td width=33%></td>
        <td width=33% align="center">


            <form action="{{url_for("registrace") }}" method="POST">


            <h3>Zaregistrujte se</h3>




                <input class="form-control" type="text" name="jmeno" placeholder="Jméno" value="{{ jmeno }}" maxlenght="20" aria-label="default input example"><br><br>

                <input type="password" class="form-control" name="heslo" placeholder="Heslo" ><br><br>

                <input type="password" name="potvrdit_heslo" class="form-control" placeholder="Potvrdit heslo"><br><br>

                <input  class="form-control" type="text"  name="email" placeholder="Zadejte email" maxlenght="45" aria-label="default input example"><br><br>

                <input class="btn btn-primary btn-lg" type="submit" value="Odeslat">
            <br><br>
            <div style="color:red"> {{ chybova_zprava }} </div>
            <div style="color:green"> {{ uspech }} </div>

           </form>
         </td>
         <td width=33%></td>
    </tr>
</table>


{% endif %}

{% endblock %}