{% extends "main.html" %}

{% block obsah %}

<center>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Název úkolu</th>
      <th>Termín</th>
      <th>Popis</th>
      <th>smazat</th>
    </tr>
  </thead>
  <tbody>
    {% for ukol in ukoly %}
    <tr>
      <td>{{ ukol[0] }}</td>
      <td>{{ ukol[1] }}</td>
      <td>{{ ukol[2] }}</td>

      <td><form action="{{ url_for("adm_tymu")}}" method="POST">
            <input type="hidden" name="akce" value="smazat">
            <input type="hidden" name="login" value="{{ ukol[0] }}">
            <input type="submit" class="btn btn-outline-dark" value="Smazat">
        </form>
        </td>




    </tr>
    {% endfor %}
  </tbody>
</table>

</center>
{% endblock %}


