{% extends "main.html" %}

{% block obsah %}



<h2 align="center">Administrace uživatelů</h2>



<table border=1, align="center" class="table table-hover">

    <tr>

        <th>Login</th>
        <th>E-mail</th>
        <th>&nbsp;</th>
        <th>Zařazení</th>


    </tr>

{% for rd in uzivatele %}


    <tr><td> {{ rd[0]}}</td> <td>{{ rd[1] }}</td>

    <td>

        <form action="{{ url_for("adm_uziv")}}" method="POST">
            <input type="hidden" name="akce" value="smazat">
            <input type="hidden" name="login" value="{{ rd[0] }}">
            <input class="btn btn-outline-dark" type="submit" value="Smazat">
        </form>

    </td>

<td>
<form action="{{ url_for("adm_uziv")}}" method="POST">
  <select name="tymy" id="tym", value="tymy">
      <option value="">Nezařazen</option>
    {% for tym in tymy %}
        <option value="{{ tym [1] }}">{{ tym [0] }}</option>
    {% endfor %}
  </select>

<input type="hidden" name="akce" value="pridat_tym">
<input type="hidden" name="login" value="{{ rd[0] }}">
<input type="submit" class="btn btn-outline-dark" value="Přidat tým">
</form>

</td>


</tr>
{% endfor %}

</table>

{% endblock %}